In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [47]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
from imblearn.over_sampling import SMOTE

In [48]:
df_train=pd.read_csv("Train.csv")
df_validate=pd.read_csv("Validate.csv")
df_test=pd.read_csv("Test.csv")

In [49]:
df_train = df_train.drop('Profession', axis=1)
df_validate = df_validate.drop('Profession', axis=1)
df_test = df_test.drop('Profession', axis=1)

In [50]:
df_train

,ID,Married,Gender,Age,Graduate,Years_of_Working,Spending_Score,Family_Members,Category,Class(Target)
0,0,1,1.0,36,NaN,9.0,Low,2.0,Cat_6,C
1,1,0,1.0,49,1.0,1.0,Low,1.0,Cat_6,A
2,2,0,NaN,25,0.0,8.0,Low,1.0,Cat_3,B
3,3,1,0.0,77,1.0,0.0,High,2.0,Cat_4,A
4,4,1,0.0,39,1.0,1.0,Average,4.0,Cat_3,A
...,...,...,...,...,...,...,...,...,...,...
7482,7482,0,1.0,21,0.0,1.0,Low,4.0,Cat_6,B
7483,7483,0,1.0,37,1.0,1.0,Low,2.0,Cat_6,D
7484,7484,0,0.0,66,0.0,9.0,Average,2.0,Cat_6,D
7485,7485,1,0.0,80,0.0,1.0,Low,2.0,Cat_6,D
7486,7486,0,1.0,22,0.0,9.0,Low,4.0,Cat_6,B

In [51]:
category_mapping = {'Cat_1': 1, 'Cat_2': 2, 'Cat_3': 3,'Cat_4':4,'Cat_5':5,'Cat_6':6,'Cat_7':7}  # Define your custom mapping
spending_mapping={'Low':0, 'High':2 ,'Average':1}
tar_mapping={'C':3, 'A':1, 'B':2, 'D':4}

df_train['Category'] = df_train['Category'].map(category_mapping)
df_train['Spending_Score']=df_train['Spending_Score'].map(spending_mapping)
df_train['Class(Target)']=df_train['Class(Target)'].map(tar_mapping)

df_validate['Category'] = df_validate['Category'].map(category_mapping)
df_validate['Spending_Score']=df_validate['Spending_Score'].map(spending_mapping)
df_validate['Class(Target)']=df_validate['Class(Target)'].map(tar_mapping)

df_test['Category'] = df_test['Category'].map(category_mapping)
df_test['Spending_Score']=df_test['Spending_Score'].map(spending_mapping)
df_test['Class(Target)']=df_test['Class(Target)'].map(tar_mapping)

In [52]:
df_train = df_train.dropna()
df_validate = df_validate.dropna()
df_test = df_test.dropna()

In [55]:
y_train=df_train["Class(Target)"]
del df_train["Class(Target)"]
X_train=df_train
smote = SMOTE()
X_resampled, y_resampled = smote.fit_resample(X_train, y_train)

In [56]:
y_val=df_validate["Class(Target)"]
del df_validate["Class(Target)"]
X_val=df_validate

In [57]:
y_val

0       3
1       3
2       2
3       3
5       4
       ..
1064    2
1065    3
1066    2
1067    3
1068    4
Name: Class(Target), Length: 882, dtype: int64

In [58]:
best_k = 0
best_score = 0.0
best_weights = ''
for method in ["uniform","distance"]:
    for k in range(1,11):
        knnclassifier = KNeighborsClassifier(n_neighbors = k,weights = method)
        knnclassifier.fit(X_resampled, y_resampled)
        score = knnclassifier.score(X_val, y_val)
        if score > best_score:
            best_score = score
            best_k = k
            best_weights = method
print("best_k = %s" %(best_k))
print("best_score = %s"%(best_score))

best_k = 3
best_score = 0.31065759637188206

In [19]:
train_score = {}
val_score = {}
n_neighbors = np.arange(2, 30, 1)
for neighbor in n_neighbors:
    knn = KNeighborsClassifier(n_neighbors=neighbor)
    knn.fit(X_train, y_train)
    train_score[neighbor]=knn.score(X_train, y_train)
    val_score[neighbor]=knn.score(X_val, y_val)

In [20]:
print(train_score)
print(val_score)

{2: 0.6582421120412105, 3: 0.6039922730199614, 4: 0.5750160978750805, 5: 0.5434642627173213, 6: 0.5209272376046362, 7: 0.5114294913071474, 8: 0.49323889246619446, 9: 0.4840631036703155, 10: 0.48148744365743723, 11: 0.4750482936252415, 12: 0.4692530585962653, 13: 0.46796522858982614, 14: 0.46716033483580166, 15: 0.459111397295557, 16: 0.45766258853831293, 17: 0.4584674822923374, 18: 0.44961365099806827, 19: 0.4471989697359948, 20: 0.4452672247263361, 21: 0.43979394719896975, 22: 0.43126207340631034, 23: 0.42916934964584674, 24: 0.4249839021249195, 25: 0.4211204121056021, 26: 0.4169349645846748, 27: 0.41596909207984545, 28: 0.4088860270444301, 29: 0.40582743077913713}
{2: 0.25947187141216993, 3: 0.2709529276693456, 4: 0.28243398392652125, 5: 0.2847301951779564, 6: 0.2755453501722158, 7: 0.2743972445464983, 8: 0.2766934557979334, 9: 0.27898966704936856, 10: 0.2755453501722158, 11: 0.2766934557979334, 12: 0.24110218140068887, 13: 0.24569460390355913, 14: 0.25143513203214696, 15: 0.23191733639494833, 16: 0.2296211251435132, 17: 0.26865671641791045, 18: 0.2709529276693456, 19: 0.27324913892078073, 20: 0.23765786452353616, 21: 0.23536165327210104, 22: 0.2537313432835821, 23: 0.2365097588978186, 24: 0.23421354764638347, 25: 0.2537313432835821, 26: 0.26865671641791045, 27: 0.2766934557979334, 28: 0.24110218140068887, 29: 0.26865671641791045}